.userDetailCard{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.userDetailCard h3{
    color: #333;
}
.userDetailCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
