.userDetailCard{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.userDetailCard h3{
    color: #333;
}
.userDetailCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Offline notification styling */
.offline-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    z-index: 1000;
    display: flex;
    align-items: center;
    animation: slideDown 0.5s ease-in-out, fadeOut 0.5s ease-in 2.5s forwards;
  }
  
  /* Offline icon styling */
  .offline-icon {
    font-size: 24px;
    margin-right: 10px;
    animation: pulse 1.5s infinite;
  }
  
  /* Offline text styling */
  .offline-text {
    font-size: 16px;
    font-weight: 500;
  }
  
  /* Slide down animation */
  @keyframes slideDown {
    0% {
      transform: translateX(-50%) translateY(-100%);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }
  
  /* Pulse animation for the icon */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Fade out the notification after a delay */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
  }
  